# Clé secrète pour JWT
JWT_SECRET=votre_cle_secrete_ici

# Configuration base de données
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=votre_mot_de_passe
DB_NAME=votre_base_de_donnees

# Environnement
NODE_ENV=development